body {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  left: 12px;
  top: 71px;

  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  text-align: center;
}
h3 {
  position: absolute;
  width: 128px;
  height: 18px;
  left: 25px;
  bottom: -10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}
p {
  width: 100%;
  height: 87px;
  left: 12px;
  top: 193px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}
span {
  text-align: start;
  position: absolute;
  width: 180px;
  height: 11px;
  left: 120px;
  top: 84px;

  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;

  color: #000000;

  transform: rotate(90deg);
}
.header {
  padding: 10px;
  max-width: 850px;
  margin: 0 auto;
}
.container {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.card {
  position: relative;
  max-width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.card__img-content {
  width: calc((476px / 2) - 40px);
  height: calc((682px / 2) - 25px);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  height: 50px;
  color: #a9a9a9;
  text-align: center;
}

@media only screen and (min-width: 460px) {
  .container {
      max-width: 470px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card {
    flex: 1 0 calc(50% - 18px);
  }
  .card:nth-child(even) {
    top: 35px;
    /* border: 1px solid red; */
  }
  .footer {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 720px) {
    h1{
        text-align: start;
    }
  .header {
    display: flex;
  }
  .card {
    flex: 1 0 calc(33%);
  }
  .header-title {
    flex: 1 0 50%;
  }
  .card:nth-child(2),
  .card:nth-child(5) {
    top: 35px;
  }

  .card:nth-child(5) {
    margin-top: 50px;
  }
  .container {
      max-width: 850px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
